@{
    ViewBag.Title = "Home Page";
}

<style>
    ul#menu li {
        display: inline;
        border: .5px solid black;
        background-color: #10182B;
        height: 50px; 
        text-align:center
    }
    .character {
        color: white
    }
</style>
<div class="container-fluid" ng-controller="homeController as homeVm">
    <div class="row">
        <div class="col-md-12">
            <ul id="menu">
                <li class="col-md-2" ng-repeat="item in homeVm.items"><strong class="character">{{item.name}}</strong></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/home")
}